@model IEnumerable<RealEstates.Services.ViewModels.PropertyViewModel>
@{
    ViewData["Title"] = "SearchByPrice";
}

@{string emptyCol = "--"; }

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped table-sm">
        <tr>
            <th>District name</th>
            <th>Building type</th>
            <th>PropertyType</th>
            <th>Size</th>
            <th>Floor</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
        @foreach (var property in Model)
        {
            <tr>
                <td>@property.DistrictName</td>
                <td>@property.BuildingType</td>
                <td>@property.PropertyType</td>
                @if (property.Size > 0)
                {
                    <td>@property.Size</td>
                }
                else
                {
                    <td>@emptyCol</td>
                }
                @if (property.Floor != "0/0")
                {
                    <td>@property.Floor</td>
                }
                else
                {
                    <td>@emptyCol</td>
                }
                @if (property.Year > 1800)
                {
                    <td>@property.Year г.</td>
                }
                else
                {
                    <td>@emptyCol</td>
                }
                <td>@property.Price€</td>
            </tr>
        }

    </table>
}
else
{
    <h2>No properties with given price range!</h2>
}